
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');


* {
    margin: 0%;
    padding: 0%;
    background-color: black;
    list-style: none;
    text-decoration: none;
}

header{
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav{
    width: 60%;
}

ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li{
    list-style: none;
    color: #2ecc71;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

li:hover {
  color: #58d68d;
  text-shadow: 0 0 10px #2ecc71;
  animation: glow 1s infinite;
}

#logo{
    width: 150px;
    height: auto;
}

#banner{
    background-image: url('https://i.redd.it/one-for-all-vs-all-for-one-current-banner-made-by-me-v0-6hzvclw7ou6b1.jpg?width=3464&format=pjpg&auto=webp&s=1d862f9178d6a40d636cf4396fed78fa516b3d6e');
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 600px;
}

#trailer-container{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}

.content{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trailer{
    width: 50%;
}

#sinopse{
    width: 50%;
    display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-left: 30px; 
}

.description{
    color: #a9dfbf;;
    font-size: 15px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    width: 70%;
}

.button{
    width: 200px;
    height: 45px;
    background-color: #f1c40f;
    color: #1f3a93;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .8s;
    font-size: 18px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    border: 2px solid #c0392b;
    outline: none;
    margin-top: 25px;
    box-shadow: 0 0 20px #c0392b;
    align-items: center;
}

.button:hover{
    background-color: #1f3a93; 
    color: #f1c40f;
    border: 2px solid #c0392b;
    transform: scale(1.05);
    box-shadow: 0 0 15px #c0392b;
}

@keyframes glow {
  0% { text-shadow: 0 0 5px #e74c3c; }
  50% { text-shadow: 0 0 20px #e74c3c; }
  100% { text-shadow: 0 0 5px #ff0000; }
}

.personagem-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.cards-content{
    width: 98%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
    row-gap: 20px;
    column-gap: 40px;
    justify-content: space-between;
    margin: 10px;
}

.card {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    font-size: 17px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: white;
}

.card:hover{
    transform: scale(1.02);
}

.banner-1{
    background-image: url('https://ovicio.com.br/wp-content/uploads/2024/05/20240503-my-hero-academia-t7-deku.webp');
}

.banner-2{
    background-image: url('https://preview.redd.it/so-whats-the-deal-with-all-mights-eyes-v0-4n2w4cqkzl5f1.jpeg?width=1080&crop=smart&auto=webp&s=5dd3255f0e3e484dce521b6bec132fbb8428f2c9');
}

.banner-3{
    background-image: url('https://static0.gamerantimages.com/wordpress/wp-content/uploads/2022/07/my-hero-academia-bakugo-winter-suit-2-1.jpg?q=50&fit=crop&w=1600&h=900&dpr=1.5');
}

footer{
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

span{
    color: #2ecc71;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.plus{
    color: black;
}

.plus:hover{
    color: white;
    animation: glow 1s infinite;
    font-size: 30px;
}

.footer-nav{
    display: none;
}

.footer-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 768px){
    .footer-nav{
        display: block;
    }

    nav{
        display: none;
    }

    #banner{
        background-position: 40%;
    }

    #trailer-container{
        width: 95%;
        height: 400px;
        display: flex;
        flex-direction: column;
        margin-left: 5%;
    }

    .content{
        width: 95%;
        display: flex;
        flex-direction: column;
    }

    .trailer{
        width: 100%; 
    }

    #sinopse {
            width: 95%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
    }

    .description{
        width: 100%;
    }

    .button{
        width: 100%;
        margin-top: 30px;
    }

    .cards-content{
        grid-template-columns: 1fr;
        margin-top: 150px;
    }

    .plus{
        color: white;
        animation: glow 1s infinite;
        font-size: 30px;
    }
}